/* Header */
.header {
    position: absolute;
    width: 1100px;
    height: 293px;
    left: 0px;
    top: 0px;
}

.nav {
    position: absolute;
    width: 391.48px;
    height: 22px;
    left: 50px;
    top: 133px;
}

.nav-list {
    display: flex;
    gap: 32px;
}

.nav-item {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child)::after {
    content: "";
    width: 6px;
    height: 6px;
    background: #000000;
    border-radius: 50%;
    margin-left: 16px;
}

.nav-link-main,
.nav-link-lots,
.nav-link-auction {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.nav-link-main {
    width: 67px;
    height: 21px;
}

.nav-link-lots {
    width: 149px;
    height: 21px;
}

.nav-link-auction {
    width: 108px;
    height: 21px;
}

.logo {
    position: absolute;
    width: 148px;
    height: 105px;
    left: calc(50% - 148px/2 + 2px);
    top: 92px;
}

.address {
    position: absolute;
    width: 240px;
    height: 98px;
    right: 50px;
    top: 95px;
    font-style: normal;
}

.address__link {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: underline;
}

.address__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 5px;
}

/* Cover */
.cover {
    position: absolute;
    width: 1100px;
    height: 757px;
    left: 0px;
    top: 293px;
}

.cover__overlay {
    position: absolute;
    width: 1100px;
    height: 757px;
    left: 0px;
    top: 0px;
    background: #000000;
    opacity: 0.6;
}

.cover__title {
    position: absolute;
    width: 1000px;
    height: 385px;
    left: 50px;
    top: 165px;
}

.cover__title-line {
    position: absolute;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cover__title-line_left {
    width: 286px;
    height: 115px;
    left: 0px;
    top: 0px;
}

.cover__title-line_center {
    width: 339px;
    height: 115px;
    left: calc(50% - 339px/2);
    top: 135px;
    text-align: center;
}

.cover__title-line_right {
    width: 387px;
    height: 115px;
    right: 0px;
    top: 270px;
    text-align: right;
}

.cover__description {
    position: absolute;
    width: 1000px;
    height: 51px;
    left: 50px;
    top: 656px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    width: 637px;
    height: 28px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cover__description-button {
    width: 256px;
    height: 51px;
    border: 1px solid #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* Lots */
.lots {
    position: absolute;
    width: 1052px;
    height: 723px;
    left: 24px;
    top: 1230px;
}

.lots__title {
    position: absolute;
    width: 121px;
    height: 47px;
    left: 40px;
    top: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
}

.lots__list {
    position: absolute;
    width: 1052px;
    height: 596px;
    left: 0px;
    top: 74px;
    display: flex;
    gap: 25px;
}

.lots__item_1,
.lots__item_2,
.lots__item_3 {
    width: 334px;
    height: 596px;
}

.lot {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.lot__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.lot__image_type_film {
    background: url(539fb54b8ac24568a59b4e0bffa1.jpg);
}

.lot__image_type_book {
    background: url(136177-dzheyms-dzhoys-uliss.png);
}

.lot__image_type_picture {
    background: url(3ZAGLAVNOE.jpg);
}

.lot__overlay {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.6);
}

.lot__content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lot__title {
    height: 82px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #FFFFFF;
}

.lot__description {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}

.lots__more-link {
    position: absolute;
    width: 192px;
    height: 23px;
    left: 40px;
    bottom: 0px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-decoration: underline;
}

/* About */
.about {
    position: absolute;
    width: 1052px;
    height: 595px;
    left: 24px;
    top: 2073px;
}

.about__container {
    position: relative;
    width: 100%;
    height: 100%;
}

.about__column_left {
    position: absolute;
    width: 240px;
    height: 240px;
    left: 47px;
    top: 35px;
}

.about__logo {
    position: absolute;
    width: 240px;
    height: 240px;
    right: 0px;
    top: 0px;
}

.about__logo-image {
    position: absolute;
    width: 240px;
    height: 240px;
    left: calc(50% - 240px/2);
    top: calc(50% - 240px/2);
    background: #000000;
    border-radius: 50%;
}

.about__column_right {
    position: absolute;
    width: 693px;
    height: 449px;
    left: 359px;
    top: 133px;
}

.about__title {
    position: absolute;
    width: 291px;
    height: 47px;
    left: 0px;
    top: 3px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
}

.about__text {
    position: absolute;
    width: 693px;
    height: 312px;
    left: 0px;
    top: 150px;
}

.about__paragraph {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 24px;
}

/* Footer */
.footer {
    position: absolute;
    width: 1100px;
    height: 180px;
    left: 0px;
    top: 2848px;
}

.footer__address {
    position: absolute;
    width: 264.57px;
    height: 98px;
    left: 50px;
    top: 0px;
    font-style: normal;
}

.footer__address-link {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: underline;
}

.footer__address-text {
    position: absolute;
    width: 260.7px;
    height: 49px;
    left: 51.1px;
    top: 49px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.footer__nav {
    position: absolute;
    width: 163.9px;
    height: 64px;
    left: calc(50% - 163.9px/2 + 0.55px);
    top: 1px;
}

.footer__nav-list {
    text-align: center;
}

.footer__nav-link-main,
.footer__nav-link-lots,
.footer__nav-link-auction {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    text-decoration: underline;
}

.footer__nav-link-main {
    width: 73.7px;
    height: 21px;
}

.footer__nav-link-lots {
    width: 163.9px;
    height: 21px;
}

.footer__nav-link-auction {
    width: 118.8px;
    height: 21px;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    position: absolute;
    width: 240px;
    height: 48px;
    right: 50px;
    top: 1px;
}

.footer__social-item {
    width: 48px;
    height: 48px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    border: 1px solid #000000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}
